.container{
    position: relative;
    width: 100%;
    float: top;
    height: auto;
    border: 1px solid;
    background-color: #020c15;
    border-color: #ff0000;
    min-height: 500px;
    max-width: 1200px;
    max-height: 2000px;
    display: block;
    margin-top: 20px;
    left: 6%;
    text-align: center;
}

.experfil{
    background-color: #222231;
    border: 1px red solid;
    position: static;
    text-align: center;
    width: 90%;
    height: auto;
    min-height: 400px;
    max-height: 1000px;
    margin-left: 5%;
    align-content: center;
    align-items: center;
    text-align: center;
    display: block;
}

.ed_nicknorr{
    padding: 5px;
    position: absolute;
    display: none;
}

.ed_email{
    padding: 5px;
    position: absolute;
    display: none;
}

.perfil{
    padding: 0;
    margin: 0;
    color: #00ffff;
}

.ftperfil{
    padding: 0;
    margin: 0;
    width: 100px;
    height: 85px;
    margin-right: 200px;
    border: 1px solid;
    background-color: #ffff00;
}

.nick{
    padding: 0;
    margin: 0;
    margin-top: -80px;
    margin-right: -90px;
}



.nome{
    position: relative; 
    top: 70px;
    right: -10px;
    float: left;
    color: #00ffff;
}

.ed_nicknorr{
    position: absolute;
    margin-left: 52%;
    top: -3px;
}

.nicknorr{
    position: relative; 
    bottom: -105px;
    color: #00ffff;
}

.ed_email{
    position: absolute;
    margin-left: 47%;
    top: -3px;
}

.email{
    position: relative; 
    top: 140px;
    color: #00ffff;
}
.editar {
    color: #00ffff;
    border: 1px #000 solid;
    padding: 13px;
    margin: 180px;
    background-color: #ff0000;
}

.btn_editar{
    color: #121e31;
    font-family: 'Verdana';
    background-color: #ff0000;
    border: 1px #ff0000 solid;
    padding: 20px;
    font-size: 25px;
    margin-left: 45%;
}

.btn_confirmar{
    color: #121e31;
    font-family: 'Verdana';
    background-color: #ff0000;
    border: 1px #ff0000 solid;
    padding: 20px;
    font-size: 25px;
    margin-left: 45%;
    display: none;
}

.emailex{
    color: #ffff00;
    padding: 0;
    margin: 0;
    margin-right: -90px;
    margin-top: -20px;
}

.campoep{
    border: 1px #ff0000 solid;
    width: 300px;
    height: 40px;
}
